{% extends "base.html"%}
{%load bootstrap4%}

    {% block content %}
    
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="position: relative;text-align: center;color: hsl(0, 24%, 90%); size:40px;background-image: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), ">
            <img class="d-block w-100" src="https://media.istockphoto.com/photos/3d-render-of-luxury-restaurant-interior-picture-id1079901206?b=1&k=6&m=1079901206&s=170667a&w=0&h=VpB4rkdLkMAerXsyrvwbdhoo8F78sHKhH6T5GiZJsfQ="
            alt="First slide">
            <div class="centered" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 10vh;"> <h1>LUXURY DINING SPACE</h1> </div>
        </div>
    </div>
    <hr>
    <!--/.Carousel Wrapper-->

    <!-- Gaze house section -->
<div class="container my-5 py-5 z-depth-1">
    <!--Section: Content-->
    <section class="text-center px-md-5 mx-md-5 dark-grey-text">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 mb-lg-0 mb-md-4">
                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <img src="https://media.istockphoto.com/photos/luxury-buffet-picture-id175506580?k=6&m=175506580&s=612x612&w=0&h=2klvYub_AFquae32Ie6ON0iRHxfMm9B7wdDg2nmH29w=" class="img-fluid"
                    alt="">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <!--Grid column-->
            <div class="col-lg-6 ">
                <h3 class="font-weight-bold">GAZE HOUSE STAKE</h3>
                <p class="text-muted">JHOTEL signature restaurant, Graze, is designed to indulge your inner gourmand.Graze is a modern take on the New York-style steakhouse, offering aged beef, succulent seafood and indulgent desserts paired to perfection with eclectic wines and whiskies from some of the finest producers in the world.</p>
                <a class="btn btn-info btn-md waves-effect" href="{%url 'buk'%}" role="button">BOOK</a>
            </div>
            <!--Grid column--> 
        </div>
        <!--Grid row-->  
    </section>
    <!--Section: Content-->  
</div>
<hr>
<!-- Artisan section -->
<div class="container my-5 py-5 z-depth-1">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">
                <h3 class="font-weight-bold text-center">Artisan</h3>
                <p class="text-muted">Situated on the hotel’s first floor, Artisan showcases the finest global cuisine with a live show kitchen and an outdoor terrace. The culinary philosophy here revolves around fresh, seasonal and organic produce served in an authentic yet contemporary presentation with each dish revealing the chef’s personal touch.</p>
                <a class="btn btn-info btn-md waves-effect text-center" href="{%url 'buk'%}" role="button">BOOK</a>
                </div>
                <!--Grid column-->
                
                <!--Grid column-->
                <div class="col-md-6 mb-4 mb-md-0">
                    
                    <!--Image-->
                    <div class="view overlay z-depth-1-half">
                        <img src="https://media.istockphoto.com/photos/sushi-buffet-picture-id976095340?k=6&m=976095340&s=612x612&w=0&h=pBObMxb8bUmL_l_FagbiGWrhXjxX-JBSDUgAP0wg7R0=" class="img-fluid"
                        alt="">
                        <a href="#">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                    
                </div>
                <!--Grid column-->
                
            </div>
            <!--Grid row-->
            
            
        </section>
        <!--Section: Content-->

    </div>
<hr>
<!-- GALLERY SECTION -->
<div class="container my-5 py-5 z-depth-1">
    <!--Section: Content-->
    <section class="text-center px-md-5 mx-md-5 dark-grey-text">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 mb-lg-0 mb-md-4">
                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <img src="https://media.istockphoto.com/photos/rendering-of-a-luxury-restaurant-interior-at-night-picture-id1248298343?b=1&k=6&m=1248298343&s=170667a&w=0&h=601ziDcmmWw-4hALCPSYXi01v80uB8rF9T92rnkVMcw=" class="img-fluid"
                    alt="">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <!--Grid column-->
            <div class="col-lg-6 ">
                <h3 class="font-weight-bold">THE GALLARY</h3>
                <p class="text-muted">In the evening, JHOTEL city's stylish and elegant wine bar offers an intimate space in which to unwind and get together with friends. By day, it is also perfect for small business meetings or working in peace and quiet.</p>
                <a class="btn btn-info btn-md waves-effect" href="{%url 'buk'%}" role="button">BOOK</a>
            </div>
            <!--Grid column--> 
        </div>
        <!--Grid row-->  
    </section>
    <!--Section: Content-->  
</div>
<hr>
<!-- OPERA  -->
<div class="container my-5 py-5 z-depth-1">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">
                <h3 class="font-weight-bold text-center">OPERA</h3>
                <p class="text-muted">The latest exciting addition to JHOTEL is the Parisienne themed Opera Patisserie. It tells a story of a unique and sophisticated sensory experience for the ultimate dessert lover. Located on the First Floor and identified by it’s stylish design.</p>
                <a class="btn btn-info btn-md waves-effect text-center" href="{%url 'buk'%}" role="button">BOOK</a>
                </div>
                <!--Grid column-->
                
                <!--Grid column-->
                <div class="col-md-6 mb-4 mb-md-0">
                    
                    <!--Image-->
                    <div class="view overlay z-depth-1-half">
                        <img src="https://media.istockphoto.com/photos/luxurious-restaurant-and-night-club-in-bosporus-istanbul-turkey-picture-id536082021?k=6&m=536082021&s=612x612&w=0&h=t5BaSXK7VHIMGaNYlzao0xJ99Hq3xmNbY-AGH-iRrrw=" class="img-fluid"
                        alt="">
                        <a href="#">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
                <!--Grid column-->   
            </div>
            <!--Grid row-->
        </section>
        <!--Section: Content-->
    </div>
    <hr>

    {%endblock%}